<h1> Home Services Page... </h1>

<br> <br> <br> 

<LinkTo class="button" @route="home-services.hs-one"> Home Care One </LinkTo>
<LinkTo class="button" @route="home-services.hs-two"> Kitchen Appliance Cover </LinkTo>
<LinkTo class="button" @route="home-services.hs-three"> Plumbing &amp; Drains </LinkTo>

<div style="margin: 30px;">
  {{outlet}}
</div>