<h1> Energy Page... </h1>

<br> <br> <br> 

<LinkTo class="button" @route="energy.energy-one"> Energy One </LinkTo>
<LinkTo class="button" @route="energy.energy-two"> Energy Two </LinkTo>

<div style="margin: 30px;">
  {{outlet}}
</div>